.header__main-illustration {
  height: 608px;
  width: 765px;
  object-fit: cover;
  /* позиционируем */
  position: absolute;
  /* для позиционирования абсолют - обязательно указываем расположение */
  bottom: 0;
  right: 0;
  z-index: 1;
}
